*,
*::before,
*::after {
  box-sizing: border-box;

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}

html,
body,
#root {
  margin: 0;
  height: 100%;
}

:root {
  --dark-blue-color: #1c2635;
}
